<div class="w-full app-border h-fit p-5 flex" data-slider-id="{{ id }}" data-slider-container="true">
    <div data-slider-previous="true" class="m-1  cursor-pointer">
        previous
    </div>
    <div class="flex w-full h-fit m-1 {{ classes }}" data-slider-items-container="true">
        {{ content }}
    </div>
    <div data-slider-next="true" class="m-1 cursor-pointer">
        next
    </div>
</div>