<div id="amp-list-container" class="">
    <table id="amp-result" class="w-full table-auto">
        <caption class="caption-top">
          List of movements.
        </caption>
        <thead>
            <th>Portion</th>
            <th>Articulation</th>
            <th>Movement</th>
            <th></th>
        </thead>
        <tbody id="amp-table-body">
        </tbody>
    </table>
</div>