<div class="flex items-center justify-center h-16 mb-2">
    <div class="w-2/3 flex items-center justify-around">
        <a href="/exercise">
          {{> components/atalho icon="dumbell-big"}}
        </a>
        <a href="">
          {{> components/atalho icon="balança-big"}}
        </a>
        <a href="">
          {{> components/atalho icon="yoga-big"}}
        </a>
        <a href="">
          {{> components/atalho icon="skeleton-big"}}
        </a>
        <a href="">
          {{> components/atalho icon="schedule-big"}}  
        </a>
    </div>
</div>