<nav class="fixed top-0 left-0 flex flex-col p-1 z-20 select-none">
    <div class="
        self-center
        fixed
        border 
        z-30 
        w-10 
        h-10 
        m-0 
        p-1
        justify-center 
        flex 
        cursor-pointer 
        items-center 
        relative 
        app-border
        app-red-bg 
        text-white 
        app-rounded 
        flex-col 
        app-duration
        hover:shadow-red-950
        ease-in
        " 
        id="background-menu"
    >
        <img src="/images/icons/hamburguer.svg" id="menu-hamburguer" alt="dumbell" class="w-full h-full  items-center justify-center">
        <img src="/images/icons/close.svg" id="menu-close" alt="dumbell" class="w-full h-full flex items-center justify-center hidden">
    </div>
    <ul 
        class="
            fixed
            -translate-x-full-full 
            app-duration
            ease-out
            relative 
            z-30 
            app-red-bg
            app-rounded 
            border-red-900 
            hover:shadow-black 
            hover:shadow-2xl 
            mt-2 
            p-3
            text-white
        " 
        id="list-menu"
    >
        {{> components/menu/li classes="app-duration app-delay -translate-x opacity-0 my-3" linkClasses="hover:text-red-950" title='Home' link='/home' icon='home' }}
        {{> components/menu/li classes="app-duration app-delay -translate-x opacity-0 my-3" linkClasses="hover:text-red-950" title='Schedule' icon='schedule' }}
        {{> components/menu/li classes="app-duration app-delay -translate-x opacity-0 my-3" linkClasses="hover:text-red-950" title='Workouts' link="/workouts" icon='dumbell' }}
        {{> components/menu/li classes="app-duration app-delay -translate-x opacity-0 my-3" linkClasses="hover:text-red-950" title='Muscles' link='/muscles' icon='skeleton' }}
        {{> components/menu/li classes="app-duration app-delay -translate-x opacity-0 my-3" linkClasses="hover:text-red-950" title='Exercises' link='/exercise' icon='yoga' }}
        {{> components/menu/li classes="app-duration app-delay -translate-x opacity-0 my-3" linkClasses="hover:text-red-950" title='Personal' icon='personal' }}
        {{> components/menu/li classes="app-duration app-delay -translate-x opacity-0 my-3" linkClasses="hover:text-red-950" title='Costumers' icon='peaple-group' }}
        {{> components/menu/li classes="app-duration app-delay -translate-x opacity-0 my-3" linkClasses="hover:text-red-950" title='Measures' icon='balança' }}
        {{> components/menu/li classes="app-duration app-delay -translate-x opacity-0 my-3" linkClasses="hover:text-red-950" title='Settings' icon='settings' }}
    </ul>
</nav>