<button class=" 
    text-white 
    min-w-fit 
    w-24 
    rounded 
    min-h-fit
    h-8
    app-duration
    active:scale-110
    flex
    items-center
    justify-center
    {{classes}}
"

type="{{ type }}"



id="{{id}}"
>{{ title }}</button>
