<button class="
    bg-black 
    text-white 
    min-w-fit 
    w-24 
    rounded 
    min-h-fit
    h-8
    duration-300
    active:scale-110
    flex
    items-center
    justify-center
"
{{#if type }}
    type="submit"
{{/if}}


id="{{id}}"
>{{ title }}</button>
