<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <link rel="stylesheet" href="/styles/animations.css">
  <link rel="stylesheet" href="/styles/global.build.css">
  <link rel="stylesheet" href="/styles/global.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
  <style>
    body{
      height: 100vh;
      margin: 0;
      font-family: 'Poppins';
    }
    .container-main{
      display: flex;
      flex-direction: column; 
      min-height: 100%;
    }
    main{
      flex: 1;
    }
  </style>
  <body>
    <div class="container-main bg-black text-white">
    	{{> header }}
        {{> components/menu/nav-bar }}
      	<main>
    		{{#if message}}
          		{{> components/message message=message bg=bg }}
        	{{/if}}
        	{{#unless message}}
        		{{> components/message }}
        	{{/unless}}

        	{{{ body }}}
      	</main>
      	{{> footer }}
    </div>
  </body>
  <script src="/js/icons/animation.js"></script>
  <script src="/js/utils.js" type="module"></script>
  <script src="/js/menu.js" type="module"></script>
</html>