<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <link rel="stylesheet" rel="stylesheet" href="/styles/animations.css">
  <link rel="stylesheet" rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" rel="stylesheet" href="/styles/app.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
  <body class="bg-fixed">
    {{> components/menu/nav-bar }}
    <div 
      class="
        container-main 
        text-white 
        bg-gradient-to-l 
        from-red-950
        to-black
        via-transparent
        backdrop-sepia
      ">
    	{{> header }}
      
      	<main>
    		{{#if message}}
          		{{> components/message message=message bg=bg }}
        	{{/if}}
        	{{#unless message}}
        		{{> components/message }}
        	{{/unless}}

        	{{{ body }}}
      	</main>
      	{{> footer }}
    </div>
  </body>
  <script src="/js/icons/animation.js"></script>
  <script src="/js/utils.js" type="module"></script>
  <script src="/js/menu.js" type="module"></script>
</html>