<div class="flex flex-col w-100 h-100 px-2 z-20 items-center">
    <div class="w-1/5 flex flex-col">
    {{#each muscles}}
        {{#dropDown (concat this.id "-container") this.name "p-1 mb-1 app-red-bg app-border" true }}
            {{#each this.musclePortions}}
                <div class="p-1" id="{{this.id}}-portion" data-muscle-portion="true" data-drop-down-allow-close="true">
                    {{> components/link link=(concat "http://localhost:4567/muscles/" this.id) classes="hover:text-red-900 decoration-1 duration-75 w-full"  title=this.name }}    
                </div>
            {{/each}}
        {{/dropDown }}
    {{/each}} 
    </div> 
</div>
<script src="/js/drop-down.js" type="module"></script>
