<div 
    {{#if bc}}
        style="background-image:url('/images/backgrounds/{{ bc }}');"
    {{/if}}
    class="w-full cursor-pointer app-shadow-hover hover:scale-95 duration-100 h-72 bg-no-repeat backdrop-contrast-200  m-2 text-black rounded-[2rem] {{ class }}"
>
    <a href="{{ link }}" class="w-full h-full">
        <div class="w-full h-full bg-red-800 bg-opacity-60 p-3 rounded-[2rem]">
            <h1 class="text-4xl text-gray-200">{{ title }}</h1>
        </div>
    </a>
</div>