<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <script src="https://cdn.tailwindcss.com"></script>
  <body>
    {{> header }}
    <main>
        {{ body }}
    </main>
    {{> footer }}
  </body>
</html>