<div class="flex flex-col">
    <h1>Workouts</h1>
    <div>
        {{> components/button-link title='CREATE'}}
    </div>
    <div>
        {{> components/button-link title='LIST'}}
    </div>
</div>