<div class="flex flex-col items-center select-none p-2">
    <form action="" id="create-exercise-form" class="flex flex-col text-white w-2/3">
        {{> components/form/input type="hidden" name="AMP" id="AMP" value=(json articulationMovementMuscle) }}
        
        <div class="flex w-full flex-col p-2">
            <h1>2 - Chose the AMP (muscle, articulation and movements for the exercise)</h1>
            {{#sliderContainer "criar-exercicio" "" "hidden" "hidden"}}
                {{#sliderItem "true" "0" "group" }}
                    {{#optionContainer "muscle-group" "flex pb-1 flex-col items-start" "Chose the muscle group"}}
                        {{#each muscles}}
                            {{> components/options/option
                                iconClasses="opacity-0 app-duration ease-out" 
                                title=this.name
                                value=this.id 
                                name=this.name
                            }}
                        {{/each}}
                    {{/optionContainer}}
                {{/sliderItem}}
                {{#sliderItem "false" "1" "portion"}}
                    {{#optionContainer "muscle-portion" "flex  pb-1 flex-col items-start" "Chose the muscle portion"}}
                        {{#each portions}}
                            {{> components/options/option
                                iconClasses="opacity-0 app-duration ease-out" 
                                containerClasses="hidden"
                                title=this.name
                                value=this.id 
                                name=this.name
                                data=(safeStr (concat 'data-group-id="' this.muscleGroupId '" data-muscle-portion="true" data-muscle-portion-option="true"')) 
                            }}
                        {{/each}}
                    {{/optionContainer}}
                {{/sliderItem}}
                {{#sliderItem "false" "2" "articulation"}}
                    {{#optionContainer "articulation" "flex pb-1 flex-col items-start" "Chose the articulation"}}
                        {{#each articulations}}
                            {{> components/options/option
                                iconClasses="opacity-0 app-duration ease-out" 
                                containerClasses="hidden"
                                title=this.name
                                value=this.id 
                                name=this.name
                            }}
                        {{/each}}
                    {{/optionContainer}}
                {{/sliderItem}}
                {{#sliderItem "false" "3" "movement"}}
                    {{#optionContainer "movement" "flex pb-1 flex-col items-start" "Chose the movement"}}
                        {{#each movements}}
                            {{> components/options/option
                                iconClasses="opacity-0 app-duration ease-out" 
                                containerClasses="hidden"
                                title=this.name
                                value=this.id 
                                name=this.name
                            }}
                        {{/each}}
                    {{/optionContainer}}
                {{/sliderItem}}
            {{/sliderContainer}}
            {{> components/button id="add-amp" title="add"}}
            <div>
                <table >
                    <thead>
                        <th>Portion</th>
                        <th>Articulation</th>
                        <th>Movement</th>
                        <th>actions</th>
                    </thead>
                    <tbody id="amp-table-body">
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<script src="/js/exercises/exercise-options.js" type="module"></script>
<script src="/js/slider/main.js" type="module"></script>