<div class="flex items-cente justify-center select-none p-2">
    <div class="w-2/3 h-full flex flex-col">
        {{> components/card/small link="/exercise/create" class="novo-exercicio-bc" title="Create Exercise"}}
        {{> components/card/small class="exercicios-default-bc" title="Default Exercises"}}
        {{> components/card/small class="meus-exercicios-bc" title="My Exercises"}}
    </div>
</div>
<script src="/js/drop-down.js" type="module"></script>