<div class="flex flex-col select-none p-2">
    {{#dropDown "my-exercises-container" "My exercises" "bg-red-700 mb-1 p-2 rounded "}}
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium mollitia reiciendis, atque ad temporibus tempore perferendis. Ratione blanditiis debitis quasi molestias et dolorem? Facere aspernatur similique architecto quisquam alias consequatur!
    {{/dropDown}}

    {{#dropDown "create-exercises-container" "Create exercise" "bg-red-700 mb-1 p-2 rounded "}}
        {{> components/exercises/create portions=portions}}
    {{/dropDown}}
</div>

