@keyframes translate-y {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
  
.animate-translate-y {
    animation-name: translate-y;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.-translate-x-full-full {
    transform: translateX(-105%);
}
.translate-x-full-full {
    transform: translateX(105%);
}
.-hover-translate-x-full-full:hover {
    transform: translateX(-105%);
}
.hover-translate-x-full-full:hover {
    transform: translateX(105%);
}

.-translate-x-md {
    transform: translateX(-50%);
}
.translate-x-md {
    transform: translateX(50%);
}
.-hover-translate-x-md:hover {
    transform: translateX(-50%);
}
.hover-translate-x-md:hover {
    transform: translateX(50%);
}

.-translate-x {
    transform: translateX(-10%);
}
.translate-x {
    transform: translateX(10%);
}
.-hover-translate-x:hover {
    transform: translateX(-20%);
}
.hover-translate-x:hover {
    transform: translateX(20%);
}


.-translate-y-full-full {
    transform: translateY(-150%);
}
.translate-y-full-full {
    transform: translateY(150%);
}
.-hover-translate-y-full-full:hover {
    transform: translateY(-105%);
}
.hover-translate-y-full-full:hover {
    transform: translateY(105%);
}

.-hover-translate-y:hover {
    transform: translateY(-10%);
}
.hover-translate-y:hover {
    transform: translateY(10%);
}

.-translate-y {
    transform: translateY(-10%);
}
.translate-y {
    transform: translateY(10%);
}
.-hover-translate-y:hover {
    transform: translateY(-20%);
}
.hover-translate-y:hover {
    transform: translateY(20%);
}

.scale-99 {
    transform: scale(.98);
}
.hover-scale-99:hover {
    transform: scale(.98);
}