<form action="" class="flex flex-col text-black">
    {{> components/form/input type='text' name='name' placeholder="Name"}}
    {{> components/form/text-area type='text-area' name="descricao" placeholder="Description"}}
</form>