<form action="" id="create-exercise-form" class="flex flex-col text-white">
    {{> components/form/input type="hidden" name="AMP" id="AMP" value=(json articulationMovementMuscle) }}
    <div class="flex flex-col p-2">
        <h1>1 - Chose the name and description</h1>
        <div class="w-full flex flex-1 flex-col items-start m-1">
            {{> components/form/label for="name" title="Name" classes="text-white" }}
            {{> components/form/input type='text' id="name" name='name' placeholder="" classes="p-1 w-full" }}
        </div>
        <div class="w-full flex flex-1 flex-col items-start m-1">
            {{> components/form/label for="descricao" title="Description" classes="text-white" }}
            {{> components/form/text-area type='text-area' id="descricao" name="descricao" value="Your description..." placeholder="Description" classes="p-1 w-full text-black" }}
        </div>
    </div>
    <div class="flex flex-col p-2">
        <h1>2 - Chose the muscles, articulation and movements for the exercise</h1>
        <div class="flex flex items-start p-2">
            {{#optionContainer "muscle-group" "flex app-border w-1/4 flex-col items-start"}}
                {{#each muscles}}
                    {{> components/options/option
                        iconClasses="opacity-0 app-duration ease-out" 
                        title=this.name
                        uniqueId=this.id
                        iconData=(safeStr 'data-icon-muscle-group-option="true"') 
                        data=(safeStr 'data-muscle-group="true" data-muscle-group-option="true"') 
                    }}
                {{/each}}
            {{/optionContainer}}
            
            {{#optionContainer "muscle-portion" "flex app-border w-1/4 flex-col items-start"}}
                {{#each portions}}
                    {{> components/options/option
                        iconClasses="opacity-0 app-duration ease-out" 
                        containerClasses="hidden"
                        title=this.name
                        uniqueId=this.id
                        iconData=(safeStr 'data-icon-muscle-portion-option="true"') 
                        data=(safeStr (concat 'data-group-id="' this.muscleGroupId '" data-muscle-portion="true" data-muscle-portion-option="true"')) 
                    }}
                {{/each}}
            {{/optionContainer}}

            {{#optionContainer "articulation" "flex app-border w-1/4 flex-col items-start"}}
                {{#each articulations}}
                    {{> components/options/option
                        iconClasses="opacity-0 app-duration ease-out" 
                        containerClasses="hidden"
                        title=this.name
                        uniqueId=this.id
                        iconData=(safeStr 'data-icon-articulations-option="true"') 
                        data=(safeStr (concat 'data-articulations="true" data-articulations-option="true"')) 
                    }}
                {{/each}}
            {{/optionContainer}}

            {{#optionContainer "movement" "flex app-border w-1/4 flex-col items-start"}}
                {{#each movements}}
                    {{> components/options/option
                        iconClasses="opacity-0 app-duration ease-out" 
                        containerClasses="hidden"
                        title=this.name
                        uniqueId=this.id
                        iconData=(safeStr 'data-icon-movements-option="true"') 
                        data=(safeStr (concat 'data-movements="true" data-movements-option="true"')) 
                    }}
                {{/each}}
            {{/optionContainer}}
        </div>
    </div>
</form>
<script src="/js/select/main.js" type="module"></script>
<script src="/js/exercises/muscle-group-option.js" type="module">

</script>