<form action="" id="create-exercise-form" class="flex flex-col text-white">
    {{> components/form/input type="hidden" name="AMP" id="AMP" value=(json articulationMovementMuscle) }}
    <div class="flex flex-col p-2">
        <h1>1 - Chose the name and description</h1>
        <div class="w-full flex flex-1 flex-col items-start m-1">
            {{> components/form/label for="name" title="Name" classes="text-white" }}
            {{> components/form/input type='text' id="name" name='name' placeholder="" classes="p-1 w-full" }}
        </div>
        <div class="w-full flex flex-1 flex-col items-start m-1">
            {{> components/form/label for="descricao" title="Description" classes="text-white" }}
            {{> components/form/text-area type='text-area' id="descricao" name="descricao" value="Your description..." placeholder="Description" classes="p-1 w-full text-black" }}
        </div>
    </div>
    <div class="flex flex-col p-2">
        <h1>2 - Chose the AMP (muscle, articulation and movements for the exercise)</h1>
        <div id="amp-list-container" >
            <table id="amp-result" class="w-full table-auto">
                <caption class="caption-top">
                  List of movements.
                </caption>
                <thead>
                    <th>Portion</th>
                    <th>Articulation</th>
                    <th>Movement</th>
                    <th></th>
                </thead>
                <tbody id="amp-table-body">
                    
                </tbody>
            </table>
        </div>
        <div class="flex flex items-start p-2">
            {{#optionContainer "muscle-group" "flex app-border w-1/4 pb-1 flex-col items-start" "Chose the muscle group"}}
                {{#each muscles}}
                    {{> components/options/option
                        iconClasses="opacity-0 app-duration ease-out" 
                        title=this.name
                        value=this.id 
                        name=this.name
                    }}
                {{/each}}
            {{/optionContainer}}

            {{#optionContainer "muscle-portion" "flex app-border w-1/4 pb-1 flex-col items-start" "Chose the muscle portion"}}
                {{#each portions}}
                    {{> components/options/option
                        iconClasses="opacity-0 app-duration ease-out" 
                        containerClasses="hidden"
                        title=this.name
                        value=this.id 
                        name=this.name
                        data=(safeStr (concat 'data-group-id="' this.muscleGroupId '" data-muscle-portion="true" data-muscle-portion-option="true"')) 
                    }}
                {{/each}}
            {{/optionContainer}}

            {{#optionContainer "articulation" "flex app-border w-1/4 pb-1 flex-col items-start" "Chose the articulation"}}
                {{#each articulations}}
                    {{> components/options/option
                        iconClasses="opacity-0 app-duration ease-out" 
                        containerClasses="hidden"
                        title=this.name
                        value=this.id 
                        name=this.name
                    }}
                {{/each}}
            {{/optionContainer}}

            {{#optionContainer "movement" "flex app-border w-1/4 pb-1 flex-col items-start" "Chose the movement"}}
                {{#each movements}}
                    {{> components/options/option
                        iconClasses="opacity-0 app-duration ease-out" 
                        containerClasses="hidden"
                        title=this.name
                        value=this.id 
                        name=this.name
                    }}
                {{/each}}
            {{/optionContainer}}
        </div>
        {{> components/button type="button" classes="app-button hidden" title="add" id="add-amp" }}
    </div>
</form>
<script src="/js/select/main.js" type="module"></script>
<script src="/js/exercises/create.js" type="module"></script>
<script src="/js/exercises/exercise-options.js" type="module"></script>