<div class="w-full flex justify-center">
    <form action="/login" id="login-form" method="post" class="
        flex-col 
        bg-red-700
        w-2/5
        rounded
        flex
        items-center
        min-h-46
        p-5
        animate-translate-y
    ">
    <h1>LOGIN</h1>
        {{> components/form/input type='email' name='email' placeholder='email' req=true}}
        {{> components/form/input type='password' name='password' placeholder='password' req=true}}
        <div class="flex mt-4 justify-around w-full">
            {{> components/button title='login' type='submit' id="login-button"}}
            {{> components/button title='register' id="login-to-register"}}
        </div>
        <ul id="login-form-errors" class="errors-list list-disc hidden text-sm flex-col flex items-start w-full mt-1 text-red-600">
            
        </ul>
    </form>
</div>
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="/js/decorators.js" type="module" ></script>
<script src="/js/utils.js" type="module" ></script>
<script src="/js/login.js" type="module" ></script>