<div class="w-full flex justify-center" >
    <form action="" id="register-form" method="post" class="
        flex-col 
        w-2/5
        rounded
        bg-black
        border
        border-red-950
        hover:shadow-2xl
        hover:shadow-red-950
        duration-100
        flex
        p-5
        items-center
        min-h-46
        animate-translate-y
    ">
        <h1>Register</h1>
        {{> components/form/input classes="p-1 m-1" type='text' name='name' placeholder='name' req=true}}
        {{> components/form/input classes="p-1 m-1" type='text' name='nickname' placeholder='nickname' req=true}}
        {{> components/form/input classes="p-1 m-1" type='email' name='email' placeholder='email' req=true}}
        {{> components/form/input classes="p-1 m-1" type='text' name='cellphone' placeholder='cellphone' req=true pattern="/^(\+55|55)?(\d{2})?(\d{2})(\d{4,5})(\d{4})$/" }} 
        {{> components/form/input classes="p-1 m-1" type='password' name='password' placeholder='password' req=true}}
        {{> components/form/input classes="p-1 m-1" type='password' name='passwordconf' req=true placeholder='password confirmation'}}
        {{> components/form/input classes="p-1 m-1" type='date' name='birthdate' req=true placeholder='birthdate'}}
        <div class="flex mt-4 justify-around w-full text-black p-1 m-1">
            <select name="userType" id="selectUserType">
                <option value="personal">Personal</option>
                <option value="aluno">Aluno</option>
            </select>
        </div>
        <div class="flex mt-4 justify-around w-full">
            {{> components/button title='register' classes="border border-red-950 hover:bg-red-950 duration-75" type=true id="register-button"}}
            {{> components/button title='login' classes="border border-red-950 hover:bg-red-950 duration-75" id="register-to-login"}}    
        </div>
        {{> components/loading-modal id="register-spin"}}

        <ul id="register-form-errors" class="errors-list list-disc hidden text-sm flex-col flex items-start w-full mt-1 text-red-600">
            
        </ul>
    </form>
</div>
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="/js/decorators.js" type="module" ></script>
<script src="/js/utils.js" type="module" ></script>
<script src="/js/register.js" type="module" ></script>